<!-- hexlet_django_blog/templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Podcaster UI{% endblock %}</title>
    <link href="/static/bootstrap/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/channels/">Каналы</a></li>
        </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
