{% extends "base.html" %}

{% block content %}

<div class="container">
    <form action="{% url 'create_channel' %}" method="post">
        {% csrf_token %}
        <div class="card border-dark">
            <h6 class="card-header border-dark text-center">New Channel</h6>
            <div class="card-body">
                {% for field in form %}
                <div class="row">
                    <h6 class="col-md-2 my-1">{{ field.label_tag }}</h6>
                    <div class="col-md-2 my-1"> {{ field }} </div>
                </div>
                {% endfor %}
            </div>
            <div class="card-footer border-dark">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

{% endblock %}
